.watch {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url("../images/Giant_Panda.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-clip: border-box;
    object-fit: cover;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    @media (max-width:640px) {
        & {
            padding-top: 34px;
            padding-bottom: 40px;
        }
    }

    @media (max-width:320px) {
        & {
            padding-bottom: 43.43px;
        }
    }

    .watch__body {
        padding-top: 12px;
        padding-right: 18%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width:1280px) {
            & {
                padding-right: 10%;
            }
        }

        .watch__circle-container {
            .circle-container__image {
                position: relative;
                width: 465px;
                top: 0;
                left: 0;
                object-fit: cover;

                img {
                    width: 100%;
                }

                @media (max-width:1280px) {
                    & {
                        width: 400px;
                    }
                }

                @media (max-width:1000px) {
                    & {
                        width: 365px;
                    }
                }

                @media (max-width:800px) {
                    & {
                        width: 320px;

                    }
                }

                @media (max-width:640px) {
                    & {
                        width: 237.6px;
                    }
                }

                @media (max-width:500px) {
                    & {
                        width: 200px;
                    }
                }

                @media (max-width:400px) {
                    & {
                        width: 170px;
                    }
                }

                @media (max-width:320px) {
                    & {
                        width: 119px;
                    }
                }

                .circle-container__text {
                    position: absolute;
                    max-width: 100%;
                    font-size: calc(28px + 78.5 * (100vw / 1600));
                    line-height: 0.75;
                    color: #fff;
                    text-align: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    top: 74px;
                    left: 73px;

                    span {
                        margin-left: -30px;
                        @extend %yellow;
                    }

                    @media (max-width:768px) {
                        & {
                            top: 64px;
                            font-size: calc(28px + (78.5 + 78.5* 0.7) * ((100vw - 320px) / 1600));
                        }
                    }

                    @media (max-width:640px) {
                        & {
                            top: 37.8px;
                            left: 40px;
                        }
                    }

                    @media (max-width:320px) {
                        & {
                            top: 18.95px;
                            left: 18.7px;
                        }
                    }
                }
            }
        }

        .watch__button {
            margin-top: 60px;

            @media (max-width:1280px) {
                & {
                    margin-top: 70px;
                }
            }

            @media (max-width:1000px) {
                & {
                    margin-top: 40px;
                }
            }

            @media (max-width:800px) {
                & {
                    margin-right: 55px;
                }
            }

            @media (max-width:700px) {
                & {
                    margin-right: 20px;
                }
            }

            @media (max-width:640px) {
                & {
                    margin-left: 0px;
                    align-self: start;
                }
            }

            @media (max-width:400px) {
                & {
                    width: 100%;
                }
            }

            @media (max-width:320px) {
                & {
                    position: absolute;
                    top: 180px;
                }
            }
        }
    }
}