.testimonials {
    width: 100%;
    padding-bottom: 189px;
    padding-top: 131px;

    @media (max-width:1024px) {
        & {
            padding-bottom: 140px;
            padding-top: 100px;
        }
    }

    @media (max-width:768px) {
        & {
            padding-bottom: 80px;
            padding-top: 60px;
        }
    }

    @media (max-width:400px) {
        & {
            padding-bottom: 60px;
            padding-top: 30px;
        }
    }

    .testimonials__container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/testimonials-slides/leav_foto.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100%;
            right: 0;
            width: 16.666%;
            padding-top: 19%;
            bottom: 0;
            transform: translate(122%, 115%) rotate(-10deg);

            @media (max-width:1400px) {
                & {
                    transform: translate(70%, 115%) rotate(-10deg);
                }
            }

            @media (max-width:1300px) {
                & {
                    transform: translate(50%, 115%) rotate(-10deg);
                }
            }

            @media (max-width:1200px) {
                & {
                    transform: translate(30%, 115%) rotate(-10deg);
                }
            }

            @media (max-width:1000px) {
                & {
                    transform: translate(30%, 105%) rotate(0deg);
                }
            }

            @media (max-width:767px) {
                & {
                    transform: translate(30%, 87%) rotate(0deg);
                }
            }

            @media (max-width:640px) {
                & {
                    transform: translate(30%, 100%) rotate(-4deg);
                }
            }

            @media (max-width:500px) {
                & {
                    transform: translate(30%, 120%) rotate(-4deg);
                }
            }

            @media (max-width:500px) {
                & {
                    transform: translate(30%, 117%) rotate(-4deg);
                }
            }
        }

        h4 {
            font-size: 2.25rem;
            line-height: 1.3;
            text-align: center;
            color: #333B41;
        }

        .testimonials-slider {
            margin-top: 47px;
            max-height: 420px;

            @media (max-width:767px) {
                & {
                    height: 357px;
                }
            }

            @media (max-width:767px) {
                & {
                    margin-top: 20px;
                }
            }

            .testimonials-slider__wrapper {

                .testimonials-slider__slide {
                    position: relative;
                    width: 272px;
                    border-radius: 20px;
                    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                        linear-gradient(0deg, #F5F7F6, #F5F7F6);
                    padding: 2px;

                    @media (max-width:1000px) {
                        & {
                            min-width: auto;
                            max-width: 268px;
                        }
                    }

                    @media (max-width:767px) {
                        & {
                            max-width: 100%;
                            width: 100%;
                            min-height: auto;
                            max-height: 109px;
                        }
                    }

                    .testimonials-slider__card {
                        max-width: 268px;
                        min-height: 391px;
                        background-color: #F1F3F2;
                        padding: 15px 15px 19px 16px;
                        border-radius: 20px;

                        @media (max-width:767px) {
                            & {
                                max-width: 100%;
                                width: 100%;
                                padding: 15px 18px 10px 12px;
                                min-height: auto;
                                height: 105px;
                            }
                        }

                        .card__profile-container {
                            img {
                                width: 37px;
                                float: left;
                                margin-right: 10px;
                            }

                            p {
                                font-weight: 300;
                                font-size: 0.9375rem;
                                line-height: 1.2;
                                color: #BDBDBD;
                            }

                            &::first-line {
                                font-weight: 400;
                                font-size: 1rem;
                                color: #000000;
                            }
                        }

                        .card__text {
                            max-height: 309px;
                            max-width: 259px;
                            font-weight: 300;
                            font-size: 0.9375rem;
                            line-height: 1.2;
                            text-align: left;
                            color: #767474;
                            margin-top: 10px;
                            overflow: hidden;

                            @media (max-width:767px) {
                                & {
                                    max-width: 100%;
                                    max-height: 38px;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-scrollbar {
                position: relative;
                max-width: 51.7%;
                margin: 21px auto 0 auto;
            }

            .swiper-scrollbar-drag {
                position: absolute;
                cursor: pointer;
                background-color: #FE9013;
                border-radius: 5px;
                width: 100%;
            }
        }

        button {
            margin-top: 31px;
            border-radius: 5px;
            left: 0;

            &::before {
                border-radius: 5px;
            }

            @media (max-width:767px) {
                & {
                    margin: 40px auto 0 auto;
                }
            }
        }
    }
}